<a href="https://colab.research.google.com/github/Aboutme-t/Data-Science-Bootcamp-Project-Portfolio/blob/main/Project-08-Python/Star_Wars_API_(SWAPI).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# use get to request data from star war API (people)
- import requests
- create loop for 5 url API reqests
- get only name height mass birth_year url(homeworld) column
- create Dataframe with data by pandas dataframe

```python
from requests import get
import pandas as pd

url = "https://swapi.dev/api/people/"
data = []

for i in range(5):
    index = i + 1
    new_url = url + str(index)
    res = get(new_url)
    json_data = res.json()
    prep_data = {
        "name" : json_data["name"],
        "height" : json_data["height"],
        "mass" : json_data["mass"],
        "birth_year" : json_data["birth_year"],
        "url" : json_data["homeworld"]
    }
    data.append(prep_data)

df = pd.DataFrame(data)
print(df)
```

| name           | height | mass | birth_year | url                                       |
|----------------|--------|------|------------|-------------------------------------------|
| Luke Skywalker | 172    | 77   | 19BBY      | [Link](https://swapi.dev/api/planets/1/)  |
| C-3PO          | 167    | 75   | 112BBY     | [Link](https://swapi.dev/api/planets/1/)  |
| R2-D2          | 96     | 32   | 33BBY      | [Link](https://swapi.dev/api/planets/8/)  |
| Darth Vader    | 202    | 136  | 41.9BBY    | [Link](https://swapi.dev/api/planets/1/)  |
| Leia Organa    | 150    | 49   | 19BBY      | [Link](https://swapi.dev/api/planets/2/)  |

# use get to request data from star war API (people)
- create loop for 10 url API reqests
- get only name and url column
- create homeword dataframe



```python
from requests import get
import pandas as pd

url = "https://swapi.dev/api/planets/"

data2 = []

for i in range(10):
    index = i + 1
    new_url = url + str(index)
    wres = get(new_url)
    wjson_data = wres.json()
    wprep = {
        "homeworld_name" : wjson_data["name"],
        "url" : wjson_data["url"]
    }
    data2.append(wprep)

df2  = pd.DataFrame(data2)
print(df2)
```

| homeworld_name | url                                       |
|----------------|-------------------------------------------|
| Tatooine       | [Link](https://swapi.dev/api/planets/1/)  |
| Alderaan       | [Link](https://swapi.dev/api/planets/2/)  |
| Yavin IV       | [Link](https://swapi.dev/api/planets/3/)  |
| Hoth           | [Link](https://swapi.dev/api/planets/4/)  |
| Dagobah        | [Link](https://swapi.dev/api/planets/5/)  |
| Bespin         | [Link](https://swapi.dev/api/planets/6/)  |
| Endor          | [Link](https://swapi.dev/api/planets/7/)  |
| Naboo          | [Link](https://swapi.dev/api/planets/8/)  |
| Coruscant      | [Link](https://swapi.dev/api/planets/9/)  |
| Kamino         | [Link](https://swapi.dev/api/planets/10/) |

# Merge 2 dataframe togeter with url colum and drop url column



```python
merge_df = pd.merge(df, df2 ,on = "url")
full_df = merge_df.drop(["url"], axis= 1)
full_df
```

| name           | height | mass | birth_year | homeworld_name |
|----------------|--------|------|------------|----------------|
| Luke Skywalker | 172    | 77   | 19BBY      | Tatooine       |
| C-3PO          | 167    | 75   | 112BBY     | Tatooine       |
| Darth Vader    | 202    | 136  | 41.9BBY    | Tatooine       |
| R2-D2          | 96     | 32   | 33BBY      | Naboo          |
| Leia Organa    | 150    | 49   | 19BBY      | Alderaan       |

# Write CSV file

In [ ]:
full_df.to_csv("Starwar.csv")