# use get to request data from star war API (people)
- import requests
- create loop for 5 url API reqests
- get only name height mass birth_year url(homeworld) column
- create Dataframe with data by pandas dataframe

In [27]:

from requests import get 
import pandas as pd

url = "https://swapi.dev/api/people/"

data = []

for i in range(5):
    index = i + 1
    new_url = url + str(index)
    res = get(new_url)
    json_data = res.json()
    prep_data = {
        "name" : json_data["name"],
        "height" : json_data["height"],
        "mass" : json_data["mass"],
        "birth_year" : json_data["birth_year"],
        "url" : json_data["homeworld"]
    }
    data.append(prep_data)

df = pd.DataFrame(data)
print(df)

             name height mass birth_year                               url
0  Luke Skywalker    172   77      19BBY  https://swapi.dev/api/planets/1/
1           C-3PO    167   75     112BBY  https://swapi.dev/api/planets/1/
2           R2-D2     96   32      33BBY  https://swapi.dev/api/planets/8/
3     Darth Vader    202  136    41.9BBY  https://swapi.dev/api/planets/1/
4     Leia Organa    150   49      19BBY  https://swapi.dev/api/planets/2/

# use get to request data from star war API (people)
- create loop for 10 url API reqests
- get only name and url column 
- create homeword dataframe

In [24]:
from requests import get 
import pandas as pd

url = "https://swapi.dev/api/planets/"

data2 = []

for i in range(10):
    index = i + 1
    new_url = url + str(index)
    wres = get(new_url)
    wjson_data = wres.json()
    wprep = {
        "homeworld_name" : wjson_data["name"],
        "url" : wjson_data["url"]
    }
    data2.append(wprep)

df2  = pd.DataFrame(data2)
print(df2)

  homeworld_name                                url
0       Tatooine   https://swapi.dev/api/planets/1/
1       Alderaan   https://swapi.dev/api/planets/2/
2       Yavin IV   https://swapi.dev/api/planets/3/
3           Hoth   https://swapi.dev/api/planets/4/
4        Dagobah   https://swapi.dev/api/planets/5/
5         Bespin   https://swapi.dev/api/planets/6/
6          Endor   https://swapi.dev/api/planets/7/
7          Naboo   https://swapi.dev/api/planets/8/
8      Coruscant   https://swapi.dev/api/planets/9/
9         Kamino  https://swapi.dev/api/planets/10/

# Merge 2 dataframe togeter with url colum and drop url column

In [31]:
merge_df = pd.merge(df, df2 ,on = "url")
full_df = merge_df.drop(["url"], axis= 1)
full_df

,name,height,mass,birth_year,homeworld_name
0,Luke Skywalker,172,77,19BBY,Tatooine
1,C-3PO,167,75,112BBY,Tatooine
2,Darth Vader,202,136,41.9BBY,Tatooine
3,R2-D2,96,32,33BBY,Naboo
4,Leia Organa,150,49,19BBY,Alderaan

# Write CSV file

In [ ]:
full_df.to_csv("Starwar.csv")