In [38]:
install.packages('caret', repos='http://cran.rstudio.com/')
install.packages('mlbench', repos='http://cran.rstudio.com/')
install.packages('MLmetrics', repos='http://cran.rstudio.com/')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

## build ML to classify diabetes patients (binary classification)

In [39]:
library(tidyverse)
library(caret)
library(mlbench)
library(MLmetrics)

## Load dataset

In [40]:
data("PimaIndiansDiabetes")
df <- PimaIndiansDiabetes

## Explore dataset

In [41]:
head(df)
glimpse(df)

  pregnant glucose pressure triceps insulin mass pedigree age diabetes
1 6        148     72       35        0     33.6 0.627    50  pos
2 1         85     66       29        0     26.6 0.351    31  neg
3 8        183     64        0        0     23.3 0.672    32  pos
4 1         89     66       23       94     28.1 0.167    21  neg
5 0        137     40       35      168     43.1 2.288    33  pos
6 5        116     74        0        0     25.6 0.201    30  neg

Rows: 768
Columns: 9
$ pregnant <dbl> 6, 1, 8, 1, 0, 5, 3, 10, 2, 8, 4, 10, 10, 1, 5, 7, 0, 7, 1, 1…
$ glucose  <dbl> 148, 85, 183, 89, 137, 116, 78, 115, 197, 125, 110, 168, 139,…
$ pressure <dbl> 72, 66, 64, 66, 40, 74, 50, 0, 70, 96, 92, 74, 80, 60, 72, 0,…
$ triceps  <dbl> 35, 29, 0, 23, 35, 0, 32, 0, 45, 0, 0, 0, 0, 23, 19, 0, 47, 0…
$ insulin  <dbl> 0, 0, 0, 94, 168, 0, 88, 0, 543, 0, 0, 0, 0, 846, 175, 0, 230…
$ mass     <dbl> 33.6, 26.6, 23.3, 28.1, 43.1, 25.6, 31.0, 35.3, 30.5, 0.0, 37…
$ pedigree <dbl> 0.627, 0.351, 0.672, 0.167, 2.288, 0.201, 0.248, 0.134, 0.158…
$ age      <dbl> 50, 31, 32, 21, 33, 30, 26, 29, 53, 54, 30, 34, 57, 59, 51, 3…
$ diabetes <fct> pos, neg, pos, neg, pos, neg, pos, neg, pos, pos, neg, pos, n…

## Check missing value
## if output is 1 = no missing value

In [42]:
mean(complete.cases(df))

[1] 1

## Select variables

In [43]:
df_starter <- df %>%
  select(2,5,6,8,diabetes)

head(df_starter)

  glucose insulin mass age diabetes
1 148       0     33.6 50  pos
2  85       0     26.6 31  neg
3 183       0     23.3 32  pos
4  89      94     28.1 21  neg
5 137     168     43.1 33  pos
6 116       0     25.6 30  neg

## ML workflow
## Split data >> Train data >> Score data >> Evaluate data

## 1. Split data

In [44]:
set.seed(99)
n <- nrow(df_starter)
id <- sample(1:n , size = 0.8)
df_train <- df_starter[id,]
df_test <- df_starter[-id,]

## 2. Train model
## logistic regression

In [45]:
crtl <- trainControl(method = "cv",
                     number = 5) ## resampling with k fold cross validation 5 fold


logis_model <- train(diabetes ~ .,
                   data = train_df,
                   method = "glm",
                   metric = "Accuracy",
                   trControl = ctrl)

## 3. Score

In [46]:
p <- predict(logis_model, newdata = test_df)

4. Evaluate

In [47]:
mean(p == test_df$diabetes)

[1] 0.7792208

### Our model Accuracy = 0.779220779220779